<h2>New book</h2>
<%= form_with model:book, local:true do |f| %>
  <div>
    <label for="inputTitle">Title</label><br>
    <%= f.text_field :title, id:"inputTitle", placeholder:"本のタイトル" %>
  </div>
  <div>
  <label for="inputBody">Opinion</label><br>
    <%= f.text_area :body, id:"inputBody", placeholder:"書評" %>
  </div>
  <%= f.submit "Create Book" %>
<% end %>