<%= render 'layouts/error', list: @book %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user', user: @user %>
      <%= render 'books/new', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render "books/list", books: @books %>
    </div>
  </div>
</div>