<% if list.errors.any? %>
  <div class="error">
    <h2 class="error">error</h2>
      <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
<% end %>